body { font-family: Open Sans; }
.small { font-size: 66%; }

body { max-width: 70em; margin: 0 auto; }

h1, h2, h3 { font-family: Jost; }
h1 { font-size: 300%; }

h1 > img { height: 1em; position: relative; bottom: -0.1em; padding-right: 0.5em; }
